header{
	background-color:#3498DB;
	color: #F2F3F4;
	float:center;
	border: 1px solid grey;
}

html{
	position: relative;
	min-height: 100%;
	padding-bottom: 100px;
	
	
	
}

body{
	background-color:#DEF8FC !important;
	margin:0 0 100px;
	margin-bottom: 100px;
	padding-bottom: 100px;
}



footer{
	text-align:center;
	background-color: #3498DB;
	margin-top: -100px;
	padding: 3%;
	bottom: 0;
	position: absolute;
	width: 100%;
	
}

#buscador{
	padding: 2%;	
}

#menu{
	margin-top:4%;
}

.registro{
	background-color:#AED6F1;
	width: 290px;
	border: 1px solid #85C1E9;
	padding: 2%;
	margin: auto;
	margin-top: 10%;
	margin-left: 4.5%;
	float:left;
}

#black{
	color:black;
}

.precio{
	text-align:center;
}

.cajaproducto{
	width: 400px;
	border: 2px solid #85C1E9;
	margin:1%;
}

#menu li{
	float:left;
}

.datos{
	margin-left:1%;
}

.precio{
	margin-bottom:1%;
	color: #E67E22;
}

#cajaproducto_linea1{
	text-align:center;
	padding-top:2%;
} 

.producto{
	display: block:
}

img{
	display:block;
	margin: 0 auto;
}

#boton_chat{
	float:right;
	margin-right: 13%;
}

.centrarbotones{
	margin-top:2%;
	margin-bottom:2%;
	margin-left:25%;
}

.input_espaciado{
	margin-bottom:2%;
}

.form-control-mail{
  width:100%;
  height:250px;
  border:none;
  padding:5px 7px 5px 15px;
  border:1px solid #337ab7;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

.registro-form{
	width: 550px;
	padding: 20px 30px;
	background-color:#AED6F1;
	border: 2px  solid #337ab7;
	border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin: 50px auto;
}

.log-btn{
	display: inline-block;
	width: 20%;
	font-size:16px;
	height:30px;
	border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  
}

.contenidoChat{
	width: 99%;
	padding: 20px 30px;
	background-color:#AED6F1;
	border: 2px  solid #337ab7;
	border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin: 50px auto;
}


#article_grande{
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	width: 60%;
	border: 2px solid #337ab7;
	text-align:center;
	margin:5% 1% 2% 20%;
	background-color:#AED6F1;
	float:left;
}

.fondo{
background: url("/images/fondo.jpg") no-repeat fixed center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

width: 100%;
height: 100%;
     
 z-index: 2;
 
 
}


