	
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>WallapopTiw</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> </meta>

     
	<script th:href="@{/js/jquery.js}" src="/js/jquery.js"></script>
	<script th:href="@{/js/bootstrap.js}" src="/js/jbootstrap.js"></script>
	<script th:href="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>
	<script th:href="@{/js/npm.js}" src="/js/npm.js"></script>
	
	<link rel="stylesheet" href="/css/estilos.css" />
	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css.map" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css.map" />
	<link rel="stylesheet" href="/css/bootstrap.css" />	
	<link rel="stylesheet" href="/css/bootstrap.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />		

</head>

<body>
	<header class="container-fluid">
		<div class="col-xs-3 col-sm-3">
			<form action="pag_principal" method="post">
				<a href="#"><img src="/images/logo.png"
					width="100" alt="logoWallapop"></img></a> <input type="hidden"
					name="Logo" value="Principal"></input>

			</form>
		</div>
		<div class="col-xs-9 col-sm-5">
			<h1>
				<b>WALLAPOPTIW</b>
			</h1>
		</div>
	</header>
		
	<div class="container">
		<article class="registro">

			<form action="inicio" method="post">
				<p>
					<b> Email </b>
				</p>
				<div class="input-inicio">
					<input type="email" name="email" id="email" class="form-control"
						placeholder="Email"></input>
				</div>
				<br>
				<div class="input-sesion">
					<p>
						<b> Contrasena </b>
					</p>
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Contrasena"></input>
				</div>
				</br>
				<button type="submit" name="accion" value="IniciarSesion"
					class="btn btn-default">Iniciar sesion</button>
			

			<button type="button" class="btn btn-default" data-toggle="modal"
				data-target="#ventanaRegistro" style="margin-left:15px;">Registrarse</button>
			<div class="modal fade" id="ventanaRegistro">
				<div class="modal-dialog">
					<div class="modal-content">


						<form action="inicio" method="post">

							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title">Registro de usuarios</h4>
							</div>
							<div class="modal-body">


								<div class="form-group">
									<label for="InputEmail">Email</label> <input type="email"
										name="InputEmail" class="form-control" id="InputEmail" 
										placeholder="Email"></input>
								</div>
								<div class="form-group">
									<label for="Nombre">Nombre</label> <input type="text" name="Nombre" class="form-control" id="Nombre" 
										placeholder="Nombre"></input>
								</div>
								<div class="form-group">
									<label for="Apellidos">Apellidos</label> <input
										type="apellidos" class="form-control" id="Apellidos"
										name="Apellidos"
										placeholder="Apellidos"></input>
								</div>
								<div class="form-group">
									<label for="Contrasenya">Contrasenya</label> <input
										type="contrasenya" class="form-control" id="Contrasenya"
										name="Contrasenya"
										placeholder="Contrasenya"></input>
								</div>
								<div class="form-group">
									<label for="VerificacionContrasenya">Verificacion
										Contrasenya</label> <input type="Verificacioncontrasenya"
										class="form-control" id="VerificacionContrasenya"
										name="VerificacionContrasenya"
										placeholder="Contrasenya"></input>
								</div>
								<div class="form-group">
									<label for="Ciudad">Ciudad</label> <input type="ciudad"
										name="Ciudad" 
										class="form-control" id="Ciudad" placeholder="Ciudad"></input>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal" aria-hidden="true">Cerrar</button>
								<button type="hidden" name="accion" value="registro"
									class="btn btn-default">Guardar cambios</button>
							</div>

						</form>

					</div>
				</div>
			</div>
			</form>
		</article>
	</div>


</body>
</html>
	