<!DOCTYPE html>

<html>

    <head>
	<meta charset="UTF-8"></meta>
        <title>WallapopTiw</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
        <!-- Latest compiled and minified CSS -->
	   
	<script th:href="@{/js/jquery.js}" src="/js/jquery.js"></script>
	<script th:href="@{/js/bootstrap.js}" src="/js/jbootstrap.js"></script>
	<script th:href="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>
	<script th:href="@{/js/npm.js}" src="/js/npm.js"></script>
	
	<link rel="stylesheet" href="/css/estilos.css" />
	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css.map" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css.map" />
	<link rel="stylesheet" href="/css/bootstrap.css" />	
	<link rel="stylesheet" href="/css/bootstrap.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />		


    </head>
    <body>
    <div class="alert alert-info" th:if="${error !=''}" >
  		<h4 th:text="${error}"></h4>
	</div>
    <!--  
    <%  
					HttpSession sesion = (HttpSession) request.getSession(false);
					String mensaje = (String)sesion.getAttribute("mensajeRegistro");
					if(mensaje!=null){
				%>
					<h3 style="background-color:red; width:95%; margin:10px 20px;" class="alert">${mensajeRegistro}</h3>
				<%} 
					sesion.setAttribute("mensajeRegistro", null);
				%>
	-->
	<header class="container-fluid">
		<div class="col-xs-3 col-sm-3">
			<a href="PaginaPrincipal.html"><img src="/images/logo.png" width="100" alt="logo Wallapop"></img></a>
		</div>
		<div class="col-xs-9 col-sm-5">
			<h1><b>WALLAPOPTIW</b></h1>
		</div>
		<nav class="col-xs-12 col-sm-4">
			<form action="productos" method="post">
				<ul id="menu" class="nav navbar-nav navbar-right">
					<form th:action="@{/wallapoptiw/MiPerfilEditar}"  method="post">
					<li><button type="submit" name="accion" value="Editar"
							class="btn btn-default">
							<img src="/images/usuario.png" width="30"></img>
						</button></li>
					</form>
					<form th:action="@{/wallapoptiw/MisProductos}"  method="post">
					<li><button type="submit" name="accion" value="Productos"
							class="btn btn-default">
							<img src="/images/productos.png" width="30" height="30"></img>
						</button></li>
					</form>
					<form th:action="@{/wallapoptiw/Chat}"  method="post">
					<li><button type="submit" name="accion" value="Chat"
							class="btn btn-default">
							<img src="/images/chats.png" width="30"></img>
						</button></li>
					</form>
					<form th:action="@{/wallapoptiw/CerrarSesion}"  method="post">
					<li><button type="submit" name="accion" value="cerrar"
							class="btn btn-default">
							<img src="/images/cerrar.png" width="30"></img>
						</button></li>
					</form>
				</ul>
			</form>
		</nav>	
	</header>
	

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"> <a href="#ventanaAnyadirProd" data-toggle="modal"><b>AÑADIR PRODUCTO</b></a></li>
					<div class="modal fade" id="ventanaAnyadirProd">
						<div class="modal-dialog">
							<div class="modal-content">
								<form th:action="@{/wallapoptiw/anyadir_producto}"  method="post">
								
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title">Añade tu producto</h4>
									</div>
									<hr></hr>

									<div class="modal-body">
										<div class="form-group">
											<label for="NombreProducto">Nombre del producto</label>
											<input type="text" class="form-control" id="NombreProducto" name="NombreProducto" placeholder="NombreProducto"></input>
										</div>
										<div class="form-group">
												<label for="Categoria">Categoría</label>

											<select id="Categoria" name="Categoria" class="form-control">
											  <option value="Otras categorias">Otras categorías</option>
											  <option value="Mascotas">Mascotas</option>
											  <option value="Vehiculos">Vehículos</option>
											  <option value="Inmobiliaria">Inmobiliaria</option>
											  <option value="Mobiliario">Mobiliario</option>
											  <option value="Tecnologia">Tecnología</option>
											  <option value="Textil">Textil</option>
											  <option value="Deporte">Deporte</option>
											  <option value="Ocio">Ocio</option>
											</select>
										</div>
										<div class="form-group">
											<label for="Descripcion">Descripcion</label>
											<input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Descripcion"></input>
										</div>
										<div class="form-group">
											<label for="Precio">Precio</label>
											<input type="text" class="form-control" id="Precio" name="Precio" placeholder="Precio"></input>
										</div>
										<div class="btn-group">
												<label for="Estado">Estado</label>

										  <select id="Estado" name="Estado" class="form-control" >
											  <option value="Disponible">Disponible</option>
											  <option value="Reservado">Reservado</option>
											  <option value="Vendido">Vendido</option>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button type="hidden" name="accion" value="producto" class="btn btn-default">Guardar cambios</button>
									</div>
								</form>	
							</div>
						</div>	
					</div>
				</ul>
			</div>
			<div class="col-xs-9">
			<!--  
				<%  
				
					Usuario user = new Usuario();
					user = (Usuario) sesion.getAttribute("usuario_sesion");								
					EntityManager em = (EntityManager) sesion.getAttribute("em");
					UserTransaction ut = (UserTransaction) sesion.getAttribute("ut");
					ProductoDAOImpl prod = new ProductoDAOImpl(em, ut);
					
					Collection<Producto> coleccion = prod.buscarProductosDeUsuario(user);
					if(coleccion.isEmpty()){
				%>
				<div class="col-xs-12 col-md-4 cajaproducto">
					<p> No tienes productos disponibles</p>
				</div>
				<% 	
					}else{
						for(Producto p: coleccion){
							if(p.getUsuario().getId()== user.getId()){
							sesion.setAttribute("prod_sesion", p);
						
				%>
				-->
				<div class="col-xs-12 col-md-4 cajaproducto" th:if="${productos_usuario.isEmpty()}" >
					<p>No tienes productos. Añade uno nuevo</p>
				</div>
			<form>
				<div class="col-xs-12 col-md-4 cajaproducto" th:if="${!productos_usuario.isEmpty()}" th:each="prod_usu: ${productos_usuario}">
					<div class="container">
						<div class="row">
							<div class="col-xs-3 col-md-1">
								<img src="/images/carrito.png" width="100" alt="imagenprod1"></img>
							</div>
							<div class="col-xs-9 col-md-3 datos" th:value="${prod_usu.descripcion}"> 
								<h2 th:text="${prod_usu.titulo}"></h2>
							<h4></h4>
							</div>
						</div>
						<div class="row col-xs-12 col-md-4">
							<h2 class="precio" th:text="${prod_usu.precio}" > </h2>
							<div class="centrarbotones">
							<form th:action="@{/wallapoptiw/EliminarProducto}"  method="get">												
							<button type="hidden" class="btn btn-default" name="idProducto" th:value="${prod_usu.idProducto}">Eliminar</button>								
							</form>	
							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#ventanaModificarProd">Modificar</button>	
							<div class="modal fade" id="ventanaModificarProd">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Modifica tu producto</h4>
										</div>
										<form th:action="@{/wallapoptiw/MiProductoEditar2}"  method="post">								
										<div class="modal-body">
											<div class="form-group">
												<label for="IdProducto">Id del producto</label>
												<input type="IdProducto" class="form-control" th:value="${prod_usu.idProducto}" name="IdProducto" id="IdProducto" placeholder="IdProducto"></input>
											</div>
											<div class="form-group">
												<label for="NombreProducto">Nombre del producto</label>
												<input type="NombreProducto" class="form-control" th:value="${prod_usu.titulo}" name="NombreProducto" id="NombreProducto" placeholder="NombreProducto"></input>
											</div>
											<div class="form-group">
												<label for="Categoria">Categoría</label>
												<select name="Categoria" id="Categoria" class="form-control">
											  <option value="Otras categorias">Otras categorías</option>
											  <option value="Mascotas">Mascotas</option>
											  <option value="Vehiculos">Vehículos</option>
											  <option value="Inmobiliaria">Inmobiliaria</option>
											  <option value="Mobiliario">Mobiliario</option>
											  <option value="Tecnología">Tecnología</option>
											  <option value="Textil">Textil</option>
											  <option value="Deporte">Deporte</option>
											  <option value="Ocio">Ocio</option>
											</select>
											</div>
											<div class="form-group">
												<label for="Descripcion">Descripcion</label>
												<input type="Descripcion" class="form-control" th:value="${prod_usu.descripcion}" name="Descripcion" id="Descripcion" placeholder="Descripcion"></input>
											</div>
											<div class="form-group">
												<label for="Precio">Precio</label>
												<input type="Precio" class="form-control" th:value="${prod_usu.precio}" name="Precio" id="Precio" placeholder="Precio"></input>
											</div>
											<div class="form-group">
												<label for="Estado">Estado</label>
											<select name="Estado" id="Estado" class="form-control">
											  <option value="Disponible">Disponible</option>
											  <option value="Reservado">Reservado</option>
											  <option value="Vendido">Vendido</option>
											</select>
										  </div>
									</div>
									<div class="modal-footer">
										<button type="submit" name="accion" class="btn btn-default">Guardar cambios</button>
										</div>
									</form>		
				</div>
								</div>	
							</div>
							</div>
						</div>
					</div>
				</div>
				</form>
				<!--  
				<%	}
				}
				}%>	
				-->
			</div>
		</div>
	</div>
	<footer class="container-fluid">
		<div class="row">
			<p>Wallapop, compra y vende productos</p>
			<p>CONDICIONES DE USO. POLITICA DE PRIVACIDAD Y COOKIES</p>
			<p>Copyright ©  2016 - Wallapop - de sus respectivos propietarios</p>
		</div>
	</footer>
	

    </body>
</html>
