<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8"></meta>
<title>WallapopTiw</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
<!-- Latest compiled and minified CSS -->
   
	<script th:href="@{/js/jquery.js}" src="/js/jquery.js"></script>
	<script th:href="@{/js/bootstrap.js}" src="/js/jbootstrap.js"></script>
	<script th:href="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>
	<script th:href="@{/js/npm.js}" src="/js/npm.js"></script>
	
	<link rel="stylesheet" href="/css/estilos.css" />
	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css.map" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css.map" />
	<link rel="stylesheet" href="/css/bootstrap.css" />	
	<link rel="stylesheet" href="/css/bootstrap.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />		


</head>
<body>


	<header class="container-fluid">
		<div class="col-xs-3 col-sm-3">
			<form action="pag_principal" method="post">
				<a th:href="@{/wallapoptiw/PaginaPrincipalAdmin}"><img src="/images/logo.png" width="100"></img></a>
			</form>
		</div>
		<div class="col-xs-9 col-sm-5">
			<h1>
				<b>WALLAPOPTIW</b>
			</h1>
		</div>
		<nav class="col-xs-12 col-sm-4">
				<ul id="menu" class="nav navbar-nav navbar-right">
					<li><a th:href="@{/wallapoptiw/PaginaPrincipalAdmin}">
							<img src="/images/usuario.png" width="30"></img>
						</a></li>
					<li><a th:href="@{/wallapoptiw/ProductoAdmin}">
							<img src="/images/productos.png" width="30" height="30"></img>
						</a></li>
					<li><a th:href="@{/wallapoptiw/CerrarSesion}">
							<img src="/images/cerrar.png" width="30"></img>
						</a></li>
				</ul>
		</nav>
		<div style="text-align:center;">
			<input type="text" id="cuadrobusquedafotos" class="form-control" placeholder="Buscar..."/>
		</div>
		<br></br>
	</header>

	<div class="row">
		<div class="col-xs-12 text-center">
			<p>Listado de productos</p>
		</div>
	</div>
	
	<table border="1" style="text-align:center; width:95%; margin: 0 20px;">
		<tr class="text-center">
			<th style="text-align:center;">Titulo</th>
			<th style="text-align:center;">Categoría</th>
			<th style="text-align:center;">Precio</th>
			<th style="text-align:center;">Estado</th>
			<th style="text-align:center;">Descripcion</th>			
			<th style="text-align:center;">Borrar</th>		
			<th style="text-align:center;">Modificar</th>
		</tr>

		<tr class="cont-fotos" th:each="prod: ${listaProductos}">
			<td th:text="${prod.titulo}"></td> 
			<td th:text="${prod.categoria}"></td>
			<td th:text="${prod.precio}"></td>
			<td th:text="${prod.estado}"></td>
			<td th:text="${prod.descripcion}"></td>			
			<form th:action="@{/wallapoptiw/EliminarProductoAdmin}"  method="get">
			<td><button type="hidden" class="btn btn-default" name="idProducto" th:value="${prod.idProducto}">Eliminar</button></td>
			</form>
			<form th:action="@{/wallapoptiw/EditarProductoAdmin}" method="get">
			<td><button type="hidden" class="btn btn-default" name="idProducto" th:value="${prod.idProducto}">Editar</button></td>
			</form>	
		</tr>
	</table>
	<script>
		$(function(){
			$("#cuadrobusquedafotos").keyup(actualizar_busqueda);
		});
		
		function actualizar_busqueda(){
			var filtro = $("#cuadrobusquedafotos").val().toLowerCase();
			$(".cont-fotos").show();
			
			if(filtro!=''){
				$(".cont-fotos").each(function(){
					if($(this).html().toLowerCase().indexOf(filtro) == -1){
						$(this).hide();
					}
				})
			}
				
		}
	</script>
	<footer class="container-fluid">
		<div class="row">
			<p>Wallapop, compra y vende productos</p>
			<p>CONDICIONES DE USO. POLITICA DE PRIVACIDAD Y COOKIES</p>
			<p>Copyright © 2016 - Wallapop - de sus respectivos propietarios</p>			
		</div>
	</footer>

</body>
</html>