

<!DOCTYPE html>
<html>

    <head>
	<meta charset="UTF-8"></meta> 
        <title>WallapopTiw</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta> 
        <!-- Latest compiled and minified CSS -->
	<script th:href="@{/js/jquery.js}" src="/js/jquery.js"></script>
	<script th:href="@{/js/bootstrap.js}" src="/js/jbootstrap.js"></script>
	<script th:href="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>
	<script th:href="@{/js/npm.js}" src="/js/npm.js"></script>
	
	<link rel="stylesheet" href="/css/estilos.css" />
	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css.map" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css.map" />
	<link rel="stylesheet" href="/css/bootstrap.css" />	
	<link rel="stylesheet" href="/css/bootstrap.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />		
	
     
	<script th:href="@{/js/jquery.js}" src="/js/jquery.js"></script>
	<script th:href="@{/js/bootstrap.js}" src="/js/jbootstrap.js"></script>
	<script th:href="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>
	<script th:href="@{/js/npm.js}" src="/js/npm.js"></script>
	
	<link rel="stylesheet" href="/css/estilos.css" />
	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css.map" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css.map" />
	<link rel="stylesheet" href="/css/bootstrap.css" />	
	<link rel="stylesheet" href="/css/bootstrap.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="/css/bootstrap.min.css.map" />	
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
	
    </head>
    <body>
    <!--  
    <%  
					HttpSession sesion = (HttpSession) request.getSession(false);
					String mensaje = (String)sesion.getAttribute("mensajeRegistro");
					if(mensaje!=null){
				%>
					<h3 style="background-color:red; width:95%; margin:10px 20px;" class="alert">${mensajeRegistro}</h3>
				<%} 
					sesion.setAttribute("mensajeRegistro", null);
				%>
	-->
	<header class="container-fluid">
		<div class="col-xs-3 col-sm-3">
			<a href="PaginaPrincipal.html"><img src="/images/logo.png" width="100" alt="logo Wallapop"></img></a>

		</div>
		<div class="col-xs-9 col-sm-5">
			<h1><b>WALLAPOPTIW</b></h1>
		</div>
		<nav class="col-xs-12 col-sm-4">
			<ul id="menu" class="nav navbar-nav navbar-right">
					<form th:action="@{/wallapoptiw/MiPerfilEditar}"  method="post">
					<li><button type="submit" name="accion" value="Editar"
							class="btn btn-default">
							<img src="/images/usuario.png" width="30"></img>
						</button></li>
					</form>
					<form th:action="@{/wallapoptiw/MisProductos}"  method="post">
					<li><button type="submit" name="accion" value="Productos"
							class="btn btn-default">
							<img src="/images/productos.png" width="30" height="30"></img>
						</button></li>
					</form>
					<form th:action="@{/wallapoptiw/Chat}"  method="post">
					<li><button type="submit" name="accion" value="Chat"
							class="btn btn-default">
							<img src="/images/chats.png" width="30"></img>
						</button></li>
					</form>
					<form th:action="@{/wallapoptiw/CerrarSesion}"  method="post">
					<li><button type="submit" name="accion" value="cerrar"
							class="btn btn-default">
							<img src="/images/cerrar.png" width="30"></img>
						</button></li>
					</form>
				</ul>
		</nav>	
	</header>
	<!--  
	<%  
			
			int id=Integer.parseInt(request.getParameter("id"));
			EntityManager em = (EntityManager) sesion.getAttribute("em");
			UserTransaction ut = (UserTransaction) sesion.getAttribute("ut");
			ProductoDAOImpl prod = new ProductoDAOImpl(em, ut);
	
			Producto producto = prod.productoPorClave(id);
			sesion.setAttribute("producto", producto);

	%>
	-->
	<div class="container-fluid" th:object="${producto}">
		<div class="row col-xs-12 producto container-fluid">
			<div class="row" id="cajaproducto_linea1">
				<div class="col-xs-4">
				<p th:text="*{categoria}"></p>
				</div>
				<div class="col-xs-4">
				<p th:text="*{id}"></p>
				</div>
				<div class="col-xs-4">
				<p th:text="*{estado}"></p>
				</div>
			<hr></hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<img src="/images/carrito.png" width="150" alt="imagenprod"></img>

				</div>
				<div class="col-xs-12 col-sm-9">
					<h2 th:text="*{titulo}"></h2>
					<h4 th:text="*{descripcion}"></h4>
					<h3 class="precio" th:text="*{precio}"></h3>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-default" type="button" id="boton_chat">Enviar Mensaje</button>
			</div>
		</div>
	</div>
	
	<footer class="container-fluid">
		<div class="row">
			<p>Wallapop, compra y vende productos</p>
			<p>CONDICIONES DE USO. POLITICA DE PRIVACIDAD Y COOKIES</p>
			<p>Copyright ©  2016 - Wallapop - de sus respectivos propietarios</p>
		</div>
	</footer>
	
    </body>
</html>